@import "alert";
@import "avatars";
@import "badges";

tr:hover {
  background-color: #ffff99;
}

.btn{
  a{
    color: white;
  }
}

table {
  border-collapse: separate;
  border-spacing: 40px 0;
}

td {
  padding: 10px 0;
}

div{
  padding: 10px;
}

h1{
  text-align: center;
  padding-bottom: 25px;
}

.dat-one{
  margin-left: 550px;
  margin-bottom: 50px;
}
